
// font face
@font-face {
  font-family: 'DB Helvethaica X Bd It';
  src: url('../fonts/DB Helvethaica X Bd It.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DB Helvethaica X Bd It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DB Helvethaica X Bd It.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DB Helvethaica X Bd It.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DB Helvethaica X Bd It.svg#aeb665c37dec9aceafa0c28a6030bc0f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X Med It';
  src: url('../fonts/DB Helvethaica X Med It.eot'); /* IE9 Compat Modes */
  src: url('../fonts/DB Helvethaica X Med It.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/DB Helvethaica X Med It.woff') format('woff'), /* Modern Browsers */
       url('../fonts/DB Helvethaica X Med It.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/DB Helvethaica X Med It.svg#d1bb6a382fa9d45c875a41fdb9585bec') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'DB Helvethaica X Med';
  src: url('../fonts/psl096pro.eot'); /* IE9 Compat Modes */
  src: url('../fonts/psl096pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/psl096pro.woff') format('woff'), /* Modern Browsers */
       url('../fonts/psl096pro.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/psl096pro.svg#f8dd57e6b91d621327e4c9095bddf78a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

// =====

h1, h2, h3, h4, strong, li, p, div, span, em, dd, dl, {
  font-size: 1em;
  font-family: 'DB Helvethaica X Med', Arial;
  color: #5e3b8c;
}