$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// compass
// @import "compass/layout";
@import "compass/css3/transform";
@import "compass/css3/background-size";
// @include sticky-footer(0);

// sprite
// ---
.sprite {
  display: inline-block; 
  overflow: hidden; 
  background-repeat: no-repeat;
}

@import "vendor.jquery.jscrollpane.scss";
@import "vendor.vex.scss";

@import "sprite-global.scss";
@import "sprite-home.scss";
@import "sprite-answer.scss";
@import "sprite-result.scss";
@import "sprite-question.scss";
@import "sprite-question-01.scss";
@import "sprite-question-02.scss";
@import "sprite-question-03.scss";
@import "sprite-question-04.scss";
@import "sprite-question-05.scss";
@import "sprite-question-06.scss";

// font
@import "font.scss";

// global style 
@import "style-global.scss";

// page home
@import "style-home.scss";

// page game
@import "style-game.scss";

// page result
@import "style-result.scss";

// orientation
.disable-portrait {
  display: none;
  background-color: #FFF;
  position: fixed; width: 100%; height: 100%;
  top: 0; left: 0; z-index: 10;

  strong { position: absolute; height: 25px; line-height: 25px; top: 50%; left: 0; right: 0; text-align: center; margin-top: -13px; }
}
@media screen and (orientation:portrait) {
  .disable-portrait { display: block; }
  .app-body { display: none; }
}
@media screen and (orientation:landscape) {
  .disable-portrait { display: none; }
  .app-body { display: block; }
}

.disable-portrait {
  background: rgb(138,181,221); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(138,181,221,1) 0%, rgba(255,255,255,1) 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(138,181,221,1)), color-stop(50%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(138,181,221,1) 0%,rgba(255,255,255,1) 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(138,181,221,1) 0%,rgba(255,255,255,1) 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(138,181,221,1) 0%,rgba(255,255,255,1) 50%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(138,181,221,1) 0%,rgba(255,255,255,1) 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab5dd', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.disable-portrait:after,
.disable-portrait:before {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
}
.disable-portrait:after { background: url(../images/waiting-logo.png) no-repeat; width: 342px; height: 279px; margin: -290px 0 0 -171px; }
.disable-portrait:before { background: url(../images/waiting-text.png) no-repeat; width: 427px; height: 111px; margin: 5px 0 0 -213px; }
.disable-portrait strong { display: none; }

@media screen and (device-width: 320px) {
  .disable-portrait:after,
  .disable-portrait:before {
    transform: scale(0.6);
  }
  .disable-portrait:after { margin-top: -340px; }
  .disable-portrait:before { margin-top: -45px; }
}