﻿/* glue: 0.9.4 hash: 415760eec4 */
.sprite-question-04.question-04-answer-04-bg,
.sprite-question-04.question-04-answer-05,
.sprite-question-04.question-04-subject,
.sprite-question-04.question-04-answer-02-bg,
.sprite-question-04.question-04-answer-03-bg,
.sprite-question-04.question-04-answer-03-woman,
.sprite-question-04.question-04-answer-01-woman,
.sprite-question-04.question-04-answer-01-man,
.sprite-question-04.question-04-answer-04-woman,
.sprite-question-04.question-04-answer-02-woman,
.sprite-question-04.question-04-answer-03-man,
.sprite-question-04.question-04-answer-04-man,
.sprite-question-04.question-04-answer-02-man {
    background-image: url('../images/sprite/question-04.png');
    background-repeat: no-repeat;
}

.sprite-question-04.question-04-answer-04-bg {
    background-position: 0 0;
    width: 409px;
    height: 114px;
}

.sprite-question-04.question-04-answer-05 {
    background-position: 0 -114px;
    width: 336px;
    height: 167px;
}

.sprite-question-04.question-04-subject {
    background-position: 0 -280px;
    width: 320px;
    height: 67px;
}

.sprite-question-04.question-04-answer-02-bg {
    background-position: -409px 0;
    width: 301px;
    height: 147px;
}

.sprite-question-04.question-04-answer-03-bg {
    background-position: 0 -347px;
    width: 292px;
    height: 245px;
}

.sprite-question-04.question-04-answer-03-woman {
    background-position: -292px -347px;
    width: 258px;
    height: 206px;
}

.sprite-question-04.question-04-answer-01-woman {
    background-position: -710px 0;
    width: 176px;
    height: 235px;
}

.sprite-question-04.question-04-answer-01-man {
    background-position: -710px -235px;
    width: 176px;
    height: 235px;
}

.sprite-question-04.question-04-answer-04-woman {
    background-position: -409px -147px;
    width: 211px;
    height: 146px;
}

.sprite-question-04.question-04-answer-02-woman {
    background-position: 0 -592px;
    width: 185px;
    height: 118px;
}

.sprite-question-04.question-04-answer-03-man {
    background-position: 0 -709px;
    width: 173px;
    height: 134px;
}

.sprite-question-04.question-04-answer-04-man {
    background-position: -549px -347px;
    width: 145px;
    height: 151px;
}

.sprite-question-04.question-04-answer-02-man {
    background-position: -885px 0;
    width: 143px;
    height: 148px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-question-04.question-04-answer-04-bg,
.sprite-question-04.question-04-answer-05,
.sprite-question-04.question-04-subject,
.sprite-question-04.question-04-answer-02-bg,
.sprite-question-04.question-04-answer-03-bg,
.sprite-question-04.question-04-answer-03-woman,
.sprite-question-04.question-04-answer-01-woman,
.sprite-question-04.question-04-answer-01-man,
.sprite-question-04.question-04-answer-04-woman,
.sprite-question-04.question-04-answer-02-woman,
.sprite-question-04.question-04-answer-03-man,
.sprite-question-04.question-04-answer-04-man,
.sprite-question-04.question-04-answer-02-man {
        background-image: url('../images/sprite/question-04.png');
        -webkit-background-size: 1028px 843px;
        -moz-background-size: 1028px 843px;
        background-size: 1028px 843px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-question-04.question-04-answer-04-bg,
.sprite-question-04.question-04-answer-05,
.sprite-question-04.question-04-subject,
.sprite-question-04.question-04-answer-02-bg,
.sprite-question-04.question-04-answer-03-bg,
.sprite-question-04.question-04-answer-03-woman,
.sprite-question-04.question-04-answer-01-woman,
.sprite-question-04.question-04-answer-01-man,
.sprite-question-04.question-04-answer-04-woman,
.sprite-question-04.question-04-answer-02-woman,
.sprite-question-04.question-04-answer-03-man,
.sprite-question-04.question-04-answer-04-man,
.sprite-question-04.question-04-answer-02-man {
        background-image: url('../images/sprite/question-04@2x.png');
        -webkit-background-size: 1028px 843px;
        -moz-background-size: 1028px 843px;
        background-size: 1028px 843px;
    }
}
