﻿/* glue: 0.9.4 hash: 446549fa58 */
.sprite-question-06.question-06-answer-02-bg,
.sprite-question-06.question-06-answer-05-bg,
.sprite-question-06.question-06-answer-03-bg,
.sprite-question-06.question-06-answer-04-bg,
.sprite-question-06.question-06-subject,
.sprite-question-06.question-06-answer-03-man,
.sprite-question-06.question-06-answer-01-woman,
.sprite-question-06.question-06-answer-01-man,
.sprite-question-06.question-06-answer-03-woman,
.sprite-question-06.question-06-answer-04-man,
.sprite-question-06.question-06-answer-05-man,
.sprite-question-06.question-06-answer-01-bg {
    background-image: url('../images/sprite/question-06.png');
    background-repeat: no-repeat;
}

.sprite-question-06.question-06-answer-02-bg {
    background-position: 0 0;
    width: 444px;
    height: 189px;
}

.sprite-question-06.question-06-answer-05-bg {
    background-position: 0 -189px;
    width: 402px;
    height: 199px;
}

.sprite-question-06.question-06-answer-03-bg {
    background-position: -444px 0;
    width: 375px;
    height: 189px;
}

.sprite-question-06.question-06-answer-04-bg {
    background-position: -444px -189px;
    width: 355px;
    height: 197px;
}

.sprite-question-06.question-06-subject {
    background-position: 0 -388px;
    width: 286px;
    height: 64px;
}

.sprite-question-06.question-06-answer-03-man {
    background-position: 0 -451px;
    width: 240px;
    height: 176px;
}

.sprite-question-06.question-06-answer-01-woman {
    background-position: -819px 0;
    width: 216px;
    height: 207px;
}

.sprite-question-06.question-06-answer-01-man {
    background-position: -819px -207px;
    width: 216px;
    height: 200px;
}

.sprite-question-06.question-06-answer-03-woman {
    background-position: -819px -407px;
    width: 206px;
    height: 170px;
}

.sprite-question-06.question-06-answer-04-man {
    background-position: -240px -451px;
    width: 115px;
    height: 173px;
}

.sprite-question-06.question-06-answer-05-man {
    background-position: -355px -451px;
    width: 147px;
    height: 143px;
}

.sprite-question-06.question-06-answer-01-bg {
    background-position: -501px -451px;
    width: 110px;
    height: 92px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-question-06.question-06-answer-02-bg,
.sprite-question-06.question-06-answer-05-bg,
.sprite-question-06.question-06-answer-03-bg,
.sprite-question-06.question-06-answer-04-bg,
.sprite-question-06.question-06-subject,
.sprite-question-06.question-06-answer-03-man,
.sprite-question-06.question-06-answer-01-woman,
.sprite-question-06.question-06-answer-01-man,
.sprite-question-06.question-06-answer-03-woman,
.sprite-question-06.question-06-answer-04-man,
.sprite-question-06.question-06-answer-05-man,
.sprite-question-06.question-06-answer-01-bg {
        background-image: url('../images/sprite/question-06.png');
        -webkit-background-size: 1035px 627px;
        -moz-background-size: 1035px 627px;
        background-size: 1035px 627px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-question-06.question-06-answer-02-bg,
.sprite-question-06.question-06-answer-05-bg,
.sprite-question-06.question-06-answer-03-bg,
.sprite-question-06.question-06-answer-04-bg,
.sprite-question-06.question-06-subject,
.sprite-question-06.question-06-answer-03-man,
.sprite-question-06.question-06-answer-01-woman,
.sprite-question-06.question-06-answer-01-man,
.sprite-question-06.question-06-answer-03-woman,
.sprite-question-06.question-06-answer-04-man,
.sprite-question-06.question-06-answer-05-man,
.sprite-question-06.question-06-answer-01-bg {
        background-image: url('../images/sprite/question-06@2x.png');
        -webkit-background-size: 1035px 627px;
        -moz-background-size: 1035px 627px;
        background-size: 1035px 627px;
    }
}
