﻿/* glue: 0.9.4 hash: 3a8d17a154 */
.sprite-result.lightbox-bg,
.sprite-result.result-01 .bg,
.sprite-result.result-04 .woman,
.sprite-result.result-03 .man,
.sprite-result.result-03 .woman,
.sprite-result.result-01 .woman,
.sprite-result.result-01 .man,
.sprite-result.result-02 .bg,
.sprite-result.result-05 .bg,
.sprite-result.result-04 .man,
.sprite-result.result-05 .subject,
.sprite-result.result-03 .subject,
.sprite-result.result-02 .subject,
.sprite-result.result-01 .subject,
.sprite-result.result .bubble,
.sprite-result.result-02 .man,
.sprite-result.result-04 .subject,
.sprite-result.register-subject,
.sprite-result.button-1minute,
.sprite-result.success-subject,
.sprite-result.button-submit,
.sprite-result.button-close {
    background-image: url('../images/sprite/result.png');
    background-repeat: no-repeat;
}

.sprite-result.lightbox-bg {
    background-position: 0 0;
    width: 490px;
    height: 243px;
}

.sprite-result.result-01 .bg {
    background-position: 0 -243px;
    width: 380px;
    height: 218px;
}

.sprite-result.result-04 .woman {
    background-position: -490px 0;
    width: 373px;
    height: 236px;
}

.sprite-result.result-03 .man {
    background-position: 0 -461px;
    width: 354px;
    height: 240px;
}

.sprite-result.result-03 .woman {
    background-position: -354px -461px;
    width: 347px;
    height: 235px;
}

.sprite-result.result-01 .woman {
    background-position: -490px -236px;
    width: 340px;
    height: 216px;
}

.sprite-result.result-01 .man {
    background-position: -863px 0;
    width: 340px;
    height: 235px;
}

.sprite-result.result-02 .bg {
    background-position: -863px -235px;
    width: 333px;
    height: 206px;
}

.sprite-result.result-05 .bg {
    background-position: -863px -441px;
    width: 333px;
    height: 257px;
}

.sprite-result.result-04 .man {
    background-position: 0 -701px;
    width: 305px;
    height: 249px;
}

.sprite-result.result-05 .subject {
    background-position: -305px -701px;
    width: 239px;
    height: 56px;
}

.sprite-result.result-03 .subject {
    background-position: -544px -701px;
    width: 239px;
    height: 56px;
}

.sprite-result.result-02 .subject {
    background-position: -782px -701px;
    width: 239px;
    height: 56px;
}

.sprite-result.result-01 .subject {
    background-position: -305px -756px;
    width: 239px;
    height: 58px;
}

.sprite-result.result .bubble {
    background-position: -305px -814px;
    width: 223px;
    height: 135px;
}

.sprite-result.result-02 .man,
.sprite-result.result-02 .woman {
    background-position: 0 -949px;
    width: 203px;
    height: 214px;
}

.sprite-result.result-04 .subject {
    background-position: -544px -756px;
    width: 187px;
    height: 52px;
}

.sprite-result.register-subject {
    background-position: -528px -814px;
    width: 177px;
    height: 56px;
}

.sprite-result.button-1minute {
    background-position: -528px -870px;
    width: 164px;
    height: 74px;
}

.sprite-result.success-subject {
    background-position: -701px -461px;
    width: 114px;
    height: 38px;
}

.sprite-result.button-submit {
    background-position: -380px -243px;
    width: 109px;
    height: 61px;
}

.sprite-result.button-close {
    background-position: -380px -304px;
    width: 41px;
    height: 43px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-result.lightbox-bg,
.sprite-result.result-01 .bg,
.sprite-result.result-04 .woman,
.sprite-result.result-03 .man,
.sprite-result.result-03 .woman,
.sprite-result.result-01 .woman,
.sprite-result.result-01 .man,
.sprite-result.result-02 .bg,
.sprite-result.result-05 .bg,
.sprite-result.result-04 .man,
.sprite-result.result-05 .subject,
.sprite-result.result-03 .subject,
.sprite-result.result-02 .subject,
.sprite-result.result-01 .subject,
.sprite-result.result .bubble,
.sprite-result.result-02 .man,
.sprite-result.result-04 .subject,
.sprite-result.register-subject,
.sprite-result.button-1minute,
.sprite-result.success-subject,
.sprite-result.button-submit,
.sprite-result.button-close {
        background-image: url('../images/sprite/result.png');
        -webkit-background-size: 1203px 1163px;
        -moz-background-size: 1203px 1163px;
        background-size: 1203px 1163px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-result.lightbox-bg,
.sprite-result.result-01 .bg,
.sprite-result.result-04 .woman,
.sprite-result.result-03 .man,
.sprite-result.result-03 .woman,
.sprite-result.result-01 .woman,
.sprite-result.result-01 .man,
.sprite-result.result-02 .bg,
.sprite-result.result-05 .bg,
.sprite-result.result-04 .man,
.sprite-result.result-05 .subject,
.sprite-result.result-03 .subject,
.sprite-result.result-02 .subject,
.sprite-result.result-01 .subject,
.sprite-result.result .bubble,
.sprite-result.result-02 .man,
.sprite-result.result-04 .subject,
.sprite-result.register-subject,
.sprite-result.button-1minute,
.sprite-result.success-subject,
.sprite-result.button-submit,
.sprite-result.button-close {
        background-image: url('../images/sprite/result@2x.png');
        -webkit-background-size: 1203px 1163px;
        -moz-background-size: 1203px 1163px;
        background-size: 1203px 1163px;
    }
}
