﻿/* glue: 0.9.4 hash: 9f1d69efe4 */
.sprite-global.logo-home,
.sprite-global.logo-small,
.sprite-global.button-start,
.sprite-global.button-register,
.sprite-global.button-more,
.sprite-global.button-replay,
.sprite-global.button-share,
.sprite-global.button-prev,
.sprite-global.button-next,
.sprite-global.button-twitter,
.sprite-global.button-toggle,
.sprite-global.button-product,
.sprite-global.button-home,
.sprite-global.button-game,
.sprite-global.button-facebook,
.sprite-global.arrow-up,
.sprite-global.arrow-down {
    background-image: url('../images/sprite/global.png');
    background-repeat: no-repeat;
}

.sprite-global.logo-home {
    background-position: 0 0;
    width: 194px;
    height: 81px;
}

.sprite-global.logo-small {
    background-position: 0 -81px;
    width: 103px;
    height: 44px;
}

.sprite-global.button-start {
    background-position: 0 -124px;
    width: 88px;
    height: 46px;
}

.sprite-global.button-register {
    background-position: -103px -81px;
    width: 76px;
    height: 28px;
}

.sprite-global.button-more {
    background-position: -88px -124px;
    width: 76px;
    height: 28px;
}

.sprite-global.button-replay {
    background-position: -194px 0;
    width: 69px;
    height: 34px;
}

.sprite-global.button-share {
    background-position: -194px -34px;
    width: 68px;
    height: 35px;
}

.sprite-global.button-prev {
    background-position: -194px -69px;
    width: 57px;
    height: 29px;
}

.sprite-global.button-next {
    background-position: -194px -98px;
    width: 57px;
    height: 30px;
}

.sprite-global.button-twitter {
    background-position: 0 -170px;
    width: 50px;
    height: 50px;
}

.sprite-global.button-toggle {
    background-position: -50px -170px;
    width: 50px;
    height: 50px;
}

.sprite-global.button-product {
    background-position: -99px -170px;
    width: 50px;
    height: 50px;
}

.sprite-global.button-home {
    background-position: -149px -170px;
    width: 50px;
    height: 50px;
}

.sprite-global.button-game {
    background-position: -198px -170px;
    width: 50px;
    height: 50px;
}

.sprite-global.button-facebook {
    background-position: -263px 0;
    width: 50px;
    height: 50px;
}

.sprite-global.arrow-up {
    background-position: -263px -50px;
    width: 14px;
    height: 9px;
}

.sprite-global.arrow-down {
    background-position: -277px -50px;
    width: 14px;
    height: 9px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-global.logo-home,
.sprite-global.logo-small,
.sprite-global.button-start,
.sprite-global.button-register,
.sprite-global.button-more,
.sprite-global.button-replay,
.sprite-global.button-share,
.sprite-global.button-prev,
.sprite-global.button-next,
.sprite-global.button-twitter,
.sprite-global.button-toggle,
.sprite-global.button-product,
.sprite-global.button-home,
.sprite-global.button-game,
.sprite-global.button-facebook,
.sprite-global.arrow-up,
.sprite-global.arrow-down {
        background-image: url('../images/sprite/global.png');
        -webkit-background-size: 312px 219px;
        -moz-background-size: 312px 219px;
        background-size: 312px 219px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-global.logo-home,
.sprite-global.logo-small,
.sprite-global.button-start,
.sprite-global.button-register,
.sprite-global.button-more,
.sprite-global.button-replay,
.sprite-global.button-share,
.sprite-global.button-prev,
.sprite-global.button-next,
.sprite-global.button-twitter,
.sprite-global.button-toggle,
.sprite-global.button-product,
.sprite-global.button-home,
.sprite-global.button-game,
.sprite-global.button-facebook,
.sprite-global.arrow-up,
.sprite-global.arrow-down {
        background-image: url('../images/sprite/global@2x.png');
        -webkit-background-size: 312px 219px;
        -moz-background-size: 312px 219px;
        background-size: 312px 219px;
    }
}
