﻿/* glue: 0.9.4 hash: 7d8889bc5b */
.sprite-home.home-copy-02,
.sprite-home.home-copy-01,
.sprite-home.home-obj-gold,
.sprite-home.home-obj-man,
.sprite-home.home-obj-women,
.sprite-home.home-obj-house,
.sprite-home.home-obj-car,
.sprite-home.home-obj-cloud02,
.sprite-home.home-obj-boy,
.sprite-home.home-obj-cloud01,
.sprite-home.home-obj-tree,
.sprite-home.home-obj-pole,
.sprite-home.home-obj-dream03,
.sprite-home.home-obj-dream02,
.sprite-home.home-obj-dream01 {
    background-image: url('../images/sprite/home.png');
    background-repeat: no-repeat;
}

.sprite-home.home-copy-02 {
    background-position: 0 0;
    width: 256px;
    height: 52px;
}

.sprite-home.home-copy-01 {
    background-position: 0 -52px;
    width: 251px;
    height: 56px;
}

.sprite-home.home-obj-gold {
    background-position: 0 -108px;
    width: 246px;
    height: 75px;
}

.sprite-home.home-obj-man {
    background-position: -256px 0;
    width: 213px;
    height: 156px;
}

.sprite-home.home-obj-women {
    background-position: 0 -183px;
    width: 91px;
    height: 186px;
}

.sprite-home.home-obj-house {
    background-position: -91px -183px;
    width: 180px;
    height: 67px;
}

.sprite-home.home-obj-car {
    background-position: -91px -250px;
    width: 179px;
    height: 105px;
}

.sprite-home.home-obj-cloud02 {
    background-position: -270px -250px;
    width: 166px;
    height: 77px;
}

.sprite-home.home-obj-boy {
    background-position: -469px 0;
    width: 72px;
    height: 149px;
}

.sprite-home.home-obj-cloud01 {
    background-position: 0 -369px;
    width: 129px;
    height: 94px;
}

.sprite-home.home-obj-tree {
    background-position: -271px -183px;
    width: 128px;
    height: 28px;
}

.sprite-home.home-obj-pole {
    background-position: -469px -149px;
    width: 23px;
    height: 77px;
}

.sprite-home.home-obj-dream03 {
    background-position: -469px -225px;
    width: 50px;
    height: 41px;
}

.sprite-home.home-obj-dream02 {
    background-position: -492px -149px;
    width: 47px;
    height: 37px;
}

.sprite-home.home-obj-dream01 {
    background-position: -492px -185px;
    width: 35px;
    height: 25px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-home.home-copy-02,
.sprite-home.home-copy-01,
.sprite-home.home-obj-gold,
.sprite-home.home-obj-man,
.sprite-home.home-obj-women,
.sprite-home.home-obj-house,
.sprite-home.home-obj-car,
.sprite-home.home-obj-cloud02,
.sprite-home.home-obj-boy,
.sprite-home.home-obj-cloud01,
.sprite-home.home-obj-tree,
.sprite-home.home-obj-pole,
.sprite-home.home-obj-dream03,
.sprite-home.home-obj-dream02,
.sprite-home.home-obj-dream01 {
        background-image: url('../images/sprite/home.png');
        -webkit-background-size: 541px 462px;
        -moz-background-size: 541px 462px;
        background-size: 541px 462px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-home.home-copy-02,
.sprite-home.home-copy-01,
.sprite-home.home-obj-gold,
.sprite-home.home-obj-man,
.sprite-home.home-obj-women,
.sprite-home.home-obj-house,
.sprite-home.home-obj-car,
.sprite-home.home-obj-cloud02,
.sprite-home.home-obj-boy,
.sprite-home.home-obj-cloud01,
.sprite-home.home-obj-tree,
.sprite-home.home-obj-pole,
.sprite-home.home-obj-dream03,
.sprite-home.home-obj-dream02,
.sprite-home.home-obj-dream01 {
        background-image: url('../images/sprite/home@2x.png');
        -webkit-background-size: 541px 462px;
        -moz-background-size: 541px 462px;
        background-size: 541px 462px;
    }
}
