﻿/* glue: 0.9.4 hash: 2ccd6f8d6b */
.sprite-question-03.question-03-answer-01-bg,
.sprite-question-03.question-03-answer-03-bg,
.sprite-question-03.question-03-answer-02-bg01,
.sprite-question-03.question-03-answer-05-bg,
.sprite-question-03.question-03-answer-04-woman,
.sprite-question-03.question-03-subject,
.sprite-question-03.question-03-answer-04-bg,
.sprite-question-03.question-03-answer-04-man,
.sprite-question-03.question-03-answer-02-bg02,
.sprite-question-03.question-03-answer-01-woman,
.sprite-question-03.question-03-answer-01-man,
.sprite-question-03.question-03-answer-03-man,
.sprite-question-03.question-03-answer-03-woman,
.sprite-question-03.question-03-answer-02-woman,
.sprite-question-03.question-03-answer-02-man {
    background-image: url('../images/sprite/question-03.png');
    background-repeat: no-repeat;
}

.sprite-question-03.question-03-answer-01-bg {
    background-position: 0 0;
    width: 445px;
    height: 144px;
}

.sprite-question-03.question-03-answer-03-bg {
    background-position: 0 -144px;
    width: 386px;
    height: 231px;
}

.sprite-question-03.question-03-answer-02-bg01 {
    background-position: -445px 0;
    width: 364px;
    height: 166px;
}

.sprite-question-03.question-03-answer-05-bg {
    background-position: -445px -166px;
    width: 360px;
    height: 184px;
}

.sprite-question-03.question-03-answer-04-woman {
    background-position: 0 -374px;
    width: 358px;
    height: 231px;
}

.sprite-question-03.question-03-subject {
    background-position: -358px -374px;
    width: 264px;
    height: 61px;
}

.sprite-question-03.question-03-answer-04-bg {
    background-position: -809px 0;
    width: 243px;
    height: 232px;
}

.sprite-question-03.question-03-answer-04-man {
    background-position: -809px -232px;
    width: 233px;
    height: 243px;
}

.sprite-question-03.question-03-answer-02-bg02 {
    background-position: -358px -435px;
    width: 218px;
    height: 170px;
}

.sprite-question-03.question-03-answer-01-woman {
    background-position: 0 -605px;
    width: 156px;
    height: 198px;
}

.sprite-question-03.question-03-answer-01-man {
    background-position: -156px -605px;
    width: 118px;
    height: 196px;
}

.sprite-question-03.question-03-answer-03-man {
    background-position: -576px -435px;
    width: 120px;
    height: 155px;
}

.sprite-question-03.question-03-answer-03-woman {
    background-position: -274px -605px;
    width: 120px;
    height: 153px;
}

.sprite-question-03.question-03-answer-02-woman {
    background-position: -809px -475px;
    width: 134px;
    height: 124px;
}

.sprite-question-03.question-03-answer-02-man {
    background-position: -394px -605px;
    width: 133px;
    height: 123px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-question-03.question-03-answer-01-bg,
.sprite-question-03.question-03-answer-03-bg,
.sprite-question-03.question-03-answer-02-bg01,
.sprite-question-03.question-03-answer-05-bg,
.sprite-question-03.question-03-answer-04-woman,
.sprite-question-03.question-03-subject,
.sprite-question-03.question-03-answer-04-bg,
.sprite-question-03.question-03-answer-04-man,
.sprite-question-03.question-03-answer-02-bg02,
.sprite-question-03.question-03-answer-01-woman,
.sprite-question-03.question-03-answer-01-man,
.sprite-question-03.question-03-answer-03-man,
.sprite-question-03.question-03-answer-03-woman,
.sprite-question-03.question-03-answer-02-woman,
.sprite-question-03.question-03-answer-02-man {
        background-image: url('../images/sprite/question-03.png');
        -webkit-background-size: 1052px 803px;
        -moz-background-size: 1052px 803px;
        background-size: 1052px 803px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-question-03.question-03-answer-01-bg,
.sprite-question-03.question-03-answer-03-bg,
.sprite-question-03.question-03-answer-02-bg01,
.sprite-question-03.question-03-answer-05-bg,
.sprite-question-03.question-03-answer-04-woman,
.sprite-question-03.question-03-subject,
.sprite-question-03.question-03-answer-04-bg,
.sprite-question-03.question-03-answer-04-man,
.sprite-question-03.question-03-answer-02-bg02,
.sprite-question-03.question-03-answer-01-woman,
.sprite-question-03.question-03-answer-01-man,
.sprite-question-03.question-03-answer-03-man,
.sprite-question-03.question-03-answer-03-woman,
.sprite-question-03.question-03-answer-02-woman,
.sprite-question-03.question-03-answer-02-man {
        background-image: url('../images/sprite/question-03@2x.png');
        -webkit-background-size: 1052px 803px;
        -moz-background-size: 1052px 803px;
        background-size: 1052px 803px;
    }
}
