﻿/* glue: 0.9.4 hash: 53254107c3 */
.sprite-question-01.question-01-bg,
.sprite-question-01.question-01-subject {
    background-image: url('../images/sprite/question-01.png');
    background-repeat: no-repeat;
}

.sprite-question-01.question-01-bg {
    background-position: 0 0;
    width: 386px;
    height: 223px;
}

.sprite-question-01.question-01-subject {
    background-position: 0 -223px;
    width: 189px;
    height: 54px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-question-01.question-01-bg,
.sprite-question-01.question-01-subject {
        background-image: url('../images/sprite/question-01.png');
        -webkit-background-size: 386px 277px;
        -moz-background-size: 386px 277px;
        background-size: 386px 277px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-question-01.question-01-bg,
.sprite-question-01.question-01-subject {
        background-image: url('../images/sprite/question-01@2x.png');
        -webkit-background-size: 386px 277px;
        -moz-background-size: 386px 277px;
        background-size: 386px 277px;
    }
}
