﻿/* glue: 0.9.4 hash: f8ad7020b8 */
.sprite-question.waiting-capet,
.sprite-question.waiting-man,
.sprite-question.waiting-women,
.sprite-question.question-step,
.sprite-question.question-step-man,
.sprite-question.question-step-woman {
    background-image: url('../images/sprite/question.png');
    background-repeat: no-repeat;
}

.sprite-question.waiting-capet {
    background-position: 0 0;
    width: 229px;
    height: 41px;
}

.sprite-question.waiting-man {
    background-position: 0 -41px;
    width: 89px;
    height: 202px;
}

.sprite-question.waiting-women {
    background-position: -89px -41px;
    width: 80px;
    height: 197px;
}

.sprite-question.question-step {
    background-position: -229px 0;
    width: 109px;
    height: 76px;
}

.sprite-question.question-step-man {
    background-position: -229px -76px;
    width: 19px;
    height: 29px;
}

.sprite-question.question-step-woman {
    background-position: -248px -76px;
    width: 18px;
    height: 26px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-question.waiting-capet,
.sprite-question.waiting-man,
.sprite-question.waiting-women,
.sprite-question.question-step,
.sprite-question.question-step-man,
.sprite-question.question-step-woman {
        background-image: url('../images/sprite/question.png');
        -webkit-background-size: 337px 243px;
        -moz-background-size: 337px 243px;
        background-size: 337px 243px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-question.waiting-capet,
.sprite-question.waiting-man,
.sprite-question.waiting-women,
.sprite-question.question-step,
.sprite-question.question-step-man,
.sprite-question.question-step-woman {
        background-image: url('../images/sprite/question@2x.png');
        -webkit-background-size: 337px 243px;
        -moz-background-size: 337px 243px;
        background-size: 337px 243px;
    }
}
