﻿/* glue: 0.9.4 hash: 905a08e829 */
.sprite-answer.answer-shadow,
.sprite-answer.man,
.sprite-answer.man-active,
.sprite-answer.answer-bubble-main,
.sprite-answer.woman,
.sprite-answer.woman-active,
.sprite-answer.selected,
.sprite-answer.child,
.sprite-answer.age,
.sprite-answer.answer-02,
.sprite-answer.answer-01,
.sprite-answer.answer-05,
.sprite-answer.answer-04,
.sprite-answer.answer-03,
.sprite-answer.answer-bubble-small02,
.sprite-answer.check,
.sprite-answer.check-active,
.sprite-answer.answer-bubble-small01,
.sprite-answer.dash,
.sprite-answer.answer-open,
.sprite-answer.answer-close {
    background-image: url('../images/sprite/answer.png');
    background-repeat: no-repeat;
}

.sprite-answer.answer-shadow {
    background-position: 0 0;
    width: 266px;
    height: 27px;
}

.sprite-answer.man {
    background-position: 0 -27px;
    width: 126px;
    height: 234px;
}

.sprite-answer.man-active {
    background-position: -126px -27px;
    width: 126px;
    height: 234px;
}

.sprite-answer.answer-bubble-main {
    background-position: -266px 0;
    width: 229px;
    height: 86px;
}

.sprite-answer.woman {
    background-position: 0 -261px;
    width: 95px;
    height: 223px;
}

.sprite-answer.woman-active {
    background-position: -95px -261px;
    width: 95px;
    height: 223px;
}

.sprite-answer.selected {
    background-position: -266px -86px;
    width: 104px;
    height: 27px;
}

.sprite-answer.child {
    background-position: -266px -113px;
    width: 81px;
    height: 91px;
}

.sprite-answer.age {
    background-position: -347px -113px;
    width: 62px;
    height: 46px;
}

.sprite-answer.answer-02 {
    background-position: -408px -113px;
    width: 44px;
    height: 43px;
}

.sprite-answer.answer-01 {
    background-position: -452px -113px;
    width: 44px;
    height: 42px;
}

.sprite-answer.answer-05 {
    background-position: -347px -159px;
    width: 43px;
    height: 43px;
}

.sprite-answer.answer-04 {
    background-position: -390px -159px;
    width: 43px;
    height: 42px;
}

.sprite-answer.answer-03 {
    background-position: -266px -203px;
    width: 43px;
    height: 43px;
}

.sprite-answer.answer-bubble-small02 {
    background-position: -370px -86px;
    width: 21px;
    height: 17px;
}

.sprite-answer.check {
    background-position: -433px -159px;
    width: 19px;
    height: 19px;
}

.sprite-answer.check-active {
    background-position: -452px -159px;
    width: 19px;
    height: 19px;
}

.sprite-answer.answer-bubble-small01 {
    background-position: -391px -86px;
    width: 18px;
    height: 16px;
}

.sprite-answer.dash {
    background-position: -408px -86px;
    width: 16px;
    height: 5px;
}

.sprite-answer.answer-open {
    background-position: -471px -159px;
    width: 15px;
    height: 14px;
}

.sprite-answer.answer-close {
    background-position: -433px -178px;
    width: 15px;
    height: 14px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-answer.answer-shadow,
.sprite-answer.man,
.sprite-answer.man-active,
.sprite-answer.answer-bubble-main,
.sprite-answer.woman,
.sprite-answer.woman-active,
.sprite-answer.selected,
.sprite-answer.child,
.sprite-answer.age,
.sprite-answer.answer-02,
.sprite-answer.answer-01,
.sprite-answer.answer-05,
.sprite-answer.answer-04,
.sprite-answer.answer-03,
.sprite-answer.answer-bubble-small02,
.sprite-answer.check,
.sprite-answer.check-active,
.sprite-answer.answer-bubble-small01,
.sprite-answer.dash,
.sprite-answer.answer-open,
.sprite-answer.answer-close {
        background-image: url('../images/sprite/answer.png');
        -webkit-background-size: 495px 484px;
        -moz-background-size: 495px 484px;
        background-size: 495px 484px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-answer.answer-shadow,
.sprite-answer.man,
.sprite-answer.man-active,
.sprite-answer.answer-bubble-main,
.sprite-answer.woman,
.sprite-answer.woman-active,
.sprite-answer.selected,
.sprite-answer.child,
.sprite-answer.age,
.sprite-answer.answer-02,
.sprite-answer.answer-01,
.sprite-answer.answer-05,
.sprite-answer.answer-04,
.sprite-answer.answer-03,
.sprite-answer.answer-bubble-small02,
.sprite-answer.check,
.sprite-answer.check-active,
.sprite-answer.answer-bubble-small01,
.sprite-answer.dash,
.sprite-answer.answer-open,
.sprite-answer.answer-close {
        background-image: url('../images/sprite/answer@2x.png');
        -webkit-background-size: 495px 484px;
        -moz-background-size: 495px 484px;
        background-size: 495px 484px;
    }
}
