﻿/* glue: 0.9.4 hash: c6a2aca942 */
.sprite-question-05.question-05-answer-05-bg,
.sprite-question-05.question-05-answer-01-bg,
.sprite-question-05.question-05-answer-04-bg,
.sprite-question-05.question-05-subject,
.sprite-question-05.question-05-answer-02-bg,
.sprite-question-05.question-05-answer-03-bg,
.sprite-question-05.question-05-answer-01-woman,
.sprite-question-05.question-05-answer-01-man,
.sprite-question-05.question-05-answer-03-man,
.sprite-question-05.question-05-answer-03-woman,
.sprite-question-05.question-05-answer-02-woman,
.sprite-question-05.question-05-answer-02-man {
            background-image: url('../images/sprite/question-05.png');
            background-repeat: no-repeat;
        }
        
        .sprite-question-05.question-05-answer-05-bg {
            background-position: 0 0;
            width: 404px;
            height: 242px;
        }
        
        .sprite-question-05.question-05-answer-01-bg {
            background-position: -404px 0;
            width: 394px;
            height: 216px;
        }
        
        .sprite-question-05.question-05-answer-04-bg {
            background-position: 0 -242px;
            width: 370px;
            height: 209px;
        }
        
        .sprite-question-05.question-05-subject {
            background-position: -370px -242px;
            width: 366px;
            height: 72px;
        }
        
        .sprite-question-05.question-05-answer-02-bg {
            background-position: 0 -451px;
            width: 366px;
            height: 160px;
        }
        
        .sprite-question-05.question-05-answer-03-bg {
            background-position: -798px 0;
            width: 279px;
            height: 198px;
        }
        
        .sprite-question-05.question-05-answer-01-woman {
            background-position: -798px -198px;
            width: 235px;
            height: 159px;
        }
        
        .sprite-question-05.question-05-answer-01-man {
            background-position: -798px -357px;
            width: 235px;
            height: 169px;
        }
        
        .sprite-question-05.question-05-answer-03-man {
            background-position: 0 -611px;
            width: 144px;
            height: 199px;
        }
        
        .sprite-question-05.question-05-answer-03-woman {
            background-position: -144px -611px;
            width: 144px;
            height: 198px;
        }
        
        .sprite-question-05.question-05-answer-02-woman {
            background-position: -288px -611px;
            width: 69px;
            height: 189px;
        }
        
        .sprite-question-05.question-05-answer-02-man {
            background-position: -357px -611px;
            width: 87px;
            height: 185px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-question-05.question-05-answer-05-bg,
    .sprite-question-05.question-05-answer-01-bg,
    .sprite-question-05.question-05-answer-04-bg,
    .sprite-question-05.question-05-subject,
    .sprite-question-05.question-05-answer-02-bg,
    .sprite-question-05.question-05-answer-03-bg,
    .sprite-question-05.question-05-answer-01-woman,
    .sprite-question-05.question-05-answer-01-man,
    .sprite-question-05.question-05-answer-03-man,
    .sprite-question-05.question-05-answer-03-woman,
    .sprite-question-05.question-05-answer-02-woman,
    .sprite-question-05.question-05-answer-02-man {
                background-image: url('../images/sprite/question-05.png');
                -webkit-background-size: 1076px 810px;
                -moz-background-size: 1076px 810px;
                background-size: 1076px 810px;
            }
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
            .sprite-question-05.question-05-answer-05-bg,
    .sprite-question-05.question-05-answer-01-bg,
    .sprite-question-05.question-05-answer-04-bg,
    .sprite-question-05.question-05-subject,
    .sprite-question-05.question-05-answer-02-bg,
    .sprite-question-05.question-05-answer-03-bg,
    .sprite-question-05.question-05-answer-01-woman,
    .sprite-question-05.question-05-answer-01-man,
    .sprite-question-05.question-05-answer-03-man,
    .sprite-question-05.question-05-answer-03-woman,
    .sprite-question-05.question-05-answer-02-woman,
    .sprite-question-05.question-05-answer-02-man {
                background-image: url('../images/sprite/question-05@2x.png');
                -webkit-background-size: 1076px 810px;
                -moz-background-size: 1076px 810px;
                background-size: 1076px 810px;
            }
        }
        