﻿/* glue: 0.9.4 hash: e28349484d */
.sprite-question-02.question-02-answer-02-bg,
.sprite-question-02.question-02-answer-01-bg,
.sprite-question-02.question-02-answer-05-bg-woman,
.sprite-question-02.question-02-answer-05-bg-man,
.sprite-question-02.question-02-answer-03-bg,
.sprite-question-02.question-02-subject,
.sprite-question-02.question-02-answer-03-bg02,
.sprite-question-02.question-02-answer-03-bg01,
.sprite-question-02.question-02-answer-02-man,
.sprite-question-02.question-02-answer-01-man,
.sprite-question-02.question-02-answer-04-woman,
.sprite-question-02.question-02-answer-04-man,
.sprite-question-02.question-02-answer-01-woman,
.sprite-question-02.question-02-answer-03-man,
.sprite-question-02.question-02-answer-02-woman,
.sprite-question-02.question-02-answer-03-woman,
.sprite-question-02.question-02-answer-04-bg-woman,
.sprite-question-02.question-02-answer-04-bg-man {
    background-image: url('../images/sprite/question-02.png');
    background-repeat: no-repeat;
}

.sprite-question-02.question-02-answer-02-bg {
    background-position: 0 0;
    width: 419px;
    height: 165px;
}

.sprite-question-02.question-02-answer-01-bg {
    background-position: 0 -165px;
    width: 351px;
    height: 199px;
}

.sprite-question-02.question-02-answer-05-bg-woman {
    background-position: -419px 0;
    width: 349px;
    height: 168px;
}

.sprite-question-02.question-02-answer-05-bg-man {
    background-position: -419px -168px;
    width: 349px;
    height: 172px;
}

.sprite-question-02.question-02-answer-03-bg {
    background-position: 0 -364px;
    width: 324px;
    height: 203px;
}

.sprite-question-02.question-02-subject {
    background-position: -324px -364px;
    width: 264px;
    height: 61px;
}

.sprite-question-02.question-02-answer-03-bg02 {
    background-position: 0 -566px;
    width: 244px;
    height: 191px;
}

.sprite-question-02.question-02-answer-03-bg01 {
    background-position: -767px 0;
    width: 176px;
    height: 197px;
}

.sprite-question-02.question-02-answer-02-man {
    background-position: -767px -197px;
    width: 124px;
    height: 192px;
}

.sprite-question-02.question-02-answer-01-man {
    background-position: -767px -389px;
    width: 84px;
    height: 191px;
}

.sprite-question-02.question-02-answer-04-woman {
    background-position: -244px -566px;
    width: 187px;
    height: 182px;
}

.sprite-question-02.question-02-answer-04-man {
    background-position: 0 -757px;
    width: 187px;
    height: 185px;
}

.sprite-question-02.question-02-answer-01-woman {
    background-position: -851px -389px;
    width: 67px;
    height: 183px;
}

.sprite-question-02.question-02-answer-03-man {
    background-position: -767px -579px;
    width: 81px;
    height: 178px;
}

.sprite-question-02.question-02-answer-02-woman {
    background-position: -848px -579px;
    width: 72px;
    height: 175px;
}

.sprite-question-02.question-02-answer-03-woman {
    background-position: -431px -566px;
    width: 79px;
    height: 161px;
}

.sprite-question-02.question-02-answer-04-bg-woman {
    background-position: -324px -424px;
    width: 78px;
    height: 71px;
}

.sprite-question-02.question-02-answer-04-bg-man {
    background-position: -324px -495px;
    width: 78px;
    height: 72px;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
    .sprite-question-02.question-02-answer-02-bg,
.sprite-question-02.question-02-answer-01-bg,
.sprite-question-02.question-02-answer-05-bg-woman,
.sprite-question-02.question-02-answer-05-bg-man,
.sprite-question-02.question-02-answer-03-bg,
.sprite-question-02.question-02-subject,
.sprite-question-02.question-02-answer-03-bg02,
.sprite-question-02.question-02-answer-03-bg01,
.sprite-question-02.question-02-answer-02-man,
.sprite-question-02.question-02-answer-01-man,
.sprite-question-02.question-02-answer-04-woman,
.sprite-question-02.question-02-answer-04-man,
.sprite-question-02.question-02-answer-01-woman,
.sprite-question-02.question-02-answer-03-man,
.sprite-question-02.question-02-answer-02-woman,
.sprite-question-02.question-02-answer-03-woman,
.sprite-question-02.question-02-answer-04-bg-woman,
.sprite-question-02.question-02-answer-04-bg-man {
        background-image: url('../images/sprite/question-02.png');
        -webkit-background-size: 943px 941px;
        -moz-background-size: 943px 941px;
        background-size: 943px 941px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    .sprite-question-02.question-02-answer-02-bg,
.sprite-question-02.question-02-answer-01-bg,
.sprite-question-02.question-02-answer-05-bg-woman,
.sprite-question-02.question-02-answer-05-bg-man,
.sprite-question-02.question-02-answer-03-bg,
.sprite-question-02.question-02-subject,
.sprite-question-02.question-02-answer-03-bg02,
.sprite-question-02.question-02-answer-03-bg01,
.sprite-question-02.question-02-answer-02-man,
.sprite-question-02.question-02-answer-01-man,
.sprite-question-02.question-02-answer-04-woman,
.sprite-question-02.question-02-answer-04-man,
.sprite-question-02.question-02-answer-01-woman,
.sprite-question-02.question-02-answer-03-man,
.sprite-question-02.question-02-answer-02-woman,
.sprite-question-02.question-02-answer-03-woman,
.sprite-question-02.question-02-answer-04-bg-woman,
.sprite-question-02.question-02-answer-04-bg-man {
        background-image: url('../images/sprite/question-02@2x.png');
        -webkit-background-size: 943px 941px;
        -moz-background-size: 943px 941px;
        background-size: 943px 941px;
    }
}
