
.page-home {
  .sprite { position: absolute; text-indent: -9999px; overflow: hidden; margin: 0; padding: 0; top: 50%; left: 50%; }

  .logo-home  { z-index: 15; margin-top: -150px; margin-left: -95px; }
  .home-copy-01   { z-index: 15; margin-top: 75px; margin-left: -173px; }
  .home-copy-02   { z-index: 14; margin-top: 99px; margin-left: -97px; }
  .button-start   { z-index: 15; margin-top: -38px; margin-left: 140px; }

  .home-obj-man   { z-index: 13; margin-top: -44px; margin-left: -62px; }
  .home-obj-women { z-index: 12; margin-top: -79px; margin-left: -115px; }
  .home-obj-boy   { z-index: 11; margin-top: -71px; margin-left: 18px; }
  .home-obj-car   { z-index: 10; margin-top: 10px; margin-left: 64px; }

  .home-obj-tree  { z-index: 9; margin-top: 40px; margin-left: -185px; }
  .home-obj-house { z-index: 8; margin-top: -5px; margin-left: -205px; }

  .home-obj-gold  { z-index: 7; margin-top: 5px; margin-left: -77px; }
  .home-obj-pole  { z-index: 7; margin-top: -25px; margin-left: 160px; }
  .home-obj-cloud01  { z-index: 6; margin-top: -35px; margin-left: -205px; }
  .home-obj-cloud02  { z-index: 6; margin-top: -53px; margin-left: 30px; }

  .home-obj-dream01 { z-index: 7; margin-top: -38px; margin-left: -105px; }
  .home-obj-dream02 { z-index: 7; margin-top: -51px; margin-left: -156px; }
  .home-obj-dream03 { z-index: 7; margin-top: -81px; margin-left: -120px; }
}