
@import "compass/css3/transform";
@import "compass/css3/background-size";

html {
  margin: 0; padding: 0; 
  position: relative;
  width: 100%; height: 100%;
}

body { 
  margin: 0; padding: 0; 
  position: relative;
  width: 100%; height: 100%;
  background: #EEE url(../images/background.jpg) left top no-repeat; 
  font-size: 17px;

  @include background-size(100%);

  > .container { width: 100%; height: 100%; position: relative; padding: 0; opacity: 0; }

  > .preload { 
    position: fixed; width: 100%; height: 100%; left: 0; top: 0; background: url(../images/background-load.jpg) center center no-repeat; 
    @include background-size(100%);

    .loader { 
      position: absolute; top: 50%; left: 50%;
      font-size: 0.8em;
      font-family: Arial;
      width: 110px;
      margin-top: 60px;
      margin-left: -55px;
      text-align: center;

      .percent { font-size: 2.2em; font-weight: bold; display: block; color: #9f72e4; }
    } 
  }
}

.app-header { 
  float: left;
  height: 1px; width: 1px; 
  position: relative; 
  z-index: 2;

  // button
  .button {  
    text-indent: -9999px; 
    overflow: hidden; 
    display: block;
  }

  // navigator
  .nav-toggle { 
    position: absolute; z-index: 1;
    top: 5px; left: 5px;
  }

  .nav { 
    margin: 0; padding: 0; list-style: none;
    position: absolute;
    width: 46px;
    top: 56px; left: 5px;

    display: none;

    &.active { display: block; }

    a { 
      position: absolute; left: 0;

      &.button-home { top: 0; }
      &.button-game { top: 51px; }
      &.button-product { top: 102px; }
      &.button-facebook { top: 153px; }
      &.button-twitter { top: 204px; }
    }
  }
}

.app-body {
  width: 100%; height: 100%; position: relative;
  z-index: 1;
}