
.page-result {
  .subject,
  .button { text-indent: -999px; overflow: hidden; }
  .abs-elem { position: absolute; top: 50%; left: 50%; }

  h1, h2, h3, p { margin: 0; }

  .result { 
    position: relative; width: 100%; height: 100%; 

    .button-replay { margin-top: 115px; margin-left: -184px; }
    .button-share { margin-top: 115px; margin-left: -106px; }

    .bubble { 
      margin-top: -89px; margin-left: 35px; box-sizing: border-box; padding: 25px 28px 30px; 
      z-index: 2;

      .scrollable { 
        overflow: auto; height: 80px; width: 167px; padding-right: 33px; 
        
        .jspArrow {
          background-color: transparent;
          background-image: url('../images/sprite/global.png');
          background-repeat: no-repeat;

          &.jspArrowUp {
            background-position: -263px -50px;
            width: 14px;
            height: 9px;
            margin-bottom: 10px;
          }

          &.jspArrowDown {
            background-position: -277px -50px;
            width: 14px;
            height: 9px;
          }

          &.disabled { opacity: 0.6; }
        }

        .jspTrack { display: none; }
        .jspVerticalBar { background-color: transparent; height: 28px; top: 50%; margin-top: -14px; }
      }

      p {
        font-size: 1em;
        line-height: 1em;
        font-style: italic;
        // font-family: 'DB Helvethaica X Med It', Arial;
      }
    }

    .correct-plane { 
      margin-top: 26px; margin-left: 62px; width: 195px; 

      strong {
        font-size: 1em;
        line-height: 1em;
        font-style: italic;
        // font-family: 'DB Helvethaica X Med It', Arial;
        color: #000;
      }

      h2 {
        font-size: 1.4em;
        // font-family: 'DB Helvethaica X Med It', Arial;
        line-height: 0.8em;
        font-style: italic;
        margin-bottom: 5px;
        color: #7c51b9;
      }

      .help {
        margin-top: 0; padding-left: 22px; padding-top: 2px;
        position: relative;

        h3, p {
          font-size: 0.7em;
          line-height: 1em;
          font-style: italic;
          // font-family: 'DB Helvethaica X Med It', Arial;
          color: #747474;
        }

        h3 {
          position: absolute;
          top: 2px; left: -17px;

          &:after { content: ":"; }
        }
      }
    }

    .man, .woman { z-index: 1; }
    .button { z-index: 4; }

    &.result-01 {
      .subject { margin-top: -143px; margin-left: -121px; }
      .man { margin-top: -92px; margin-left: -286px; }
      .woman { margin-top: -65px; margin-left: -286px; }
      .bg { margin-top: -92px; margin-left: -286px; }
    }

    &.result-02 {
      .subject { margin-top: -143px; margin-left: -121px; }
      .man { margin-top: -92px; margin-left: -115px; }
      .woman { margin-top: -92px; margin-left: -115px; }
      .bg { margin-top: -75px; margin-left: -279px; }
    }

    &.result-03 {
      .subject { margin-top: -143px; margin-left: -121px; }
      .man { margin-top: -90px; margin-left: -286px; }
      .woman { margin-top: -90px; margin-left: -286px; }
      // .bg { margin-top: -90px; margin-left: -286px; }
    }

    &.result-04 {
      .subject { margin-top: -143px; margin-left: -121px; }
      .man { margin-top: -130px; margin-left: -249px; }
      .woman { margin-top: -100px; margin-left: -270px; }
      // .bg { margin-top: -90px; margin-left: -286px; }
    }

    &.result-05 {
      .subject { margin-top: -143px; margin-left: -121px; }
      // .man { margin-top: -130px; margin-left: -249px; }
      .bg { margin-top: -107px; margin-left: -272px; }
    }
  }
}

// register modal
.vex-overlay { background-color: #79a4cb; opacity: 0.8; }
.vex-close { display: none; }
.vex-content {
  z-index: 1;
  position: absolute;
  background-color: transparent;
  top: 50%; left: 50%;
  margin-top: -122px;
  margin-left: -245px;

  .register-content .sprite-result,
  .success-content .sprite-result { text-indent: -999px; overflow: hidden; }

  .register-subject,
  .success-subject { position: absolute; top: -5px; left: 0; margin: 0; }
  .success-subject { top: 5px; left: 10px; }

  .button-close { text-indent: -999px; overflow: hidden; position: absolute; top: 0; right: 10px; }

  .success-body {
    text-align: center;
    position: absolute;
    top: 70px; left: 30px; right: 30px;
    height: 130px;

    h3, p {
      font-family: 'DB Helvethaica X Med', Arial;
      font-style: italic;
    }

    h3 {
      color: #6738aa;
      font-size: 1.5em;
      margin-top: 0;
    }

    p {
      color: #292929;
      font-size: 1.3em;
      line-height: 1em;
      margin-top: 10px;

      strong { font-size: 1.2em; color: #292929; }
    }

    .button-1minute { 
      background: url(../images/button-unexpected.png);
      background-size: 360px 123px !important; 
      text-indent: -999px; 
      overflow: hidden; 
      position: absolute; bottom: -80px; left: 50%; 
      margin-left: -180px; 
      width: 360px; height: 123px; 
    }
  }

  form {
    position: absolute;
    top: 70px; left: 30px; right: 30px;
    height: 130px;

    .form-row {
      clear: both;
      vertical-align: middle;

      label { display: inline-block; width: 60px; font-size: 1em; font-weight: bold; }

      .form-input { 
        display: inline; display: inline-block; 
        margin-bottom: 15px;
        
        input { margin: 0; border: 0; border-radius: 5px; background-color: rgba(0,0,0,.2); height: 25px; line-height: 25px; padding: 0 8px; width: 210px; }
      }

      &.half { 
        float: left; width: 50%; clear: none; 

        input { width: 135px; }
      }
    }

    .button-submit { position: absolute; background-color: transparent; border: 0; bottom: 0; left: 50%; margin-left: -55px; margin-bottom: -50px; }
  }
}