@import "compass/css3/transform";
@import "compass/css3/transition";

.question-form {
  width: 100%; height: 100%; 
  position: relative;
  margin: 0; padding: 0;
}

.answer-label {
  background: url(../images/answer-label.png);
  width: 162px; height: 51px;
  position: absolute;
  top: 50%; left: 50%; z-index: 4;
  margin-top: 105px; margin-left: -160px;

  display: none;

  @include scale(0.5);
}

.question-logo {
  position: absolute;
  margin: 0;
  top: 14px; right: 15px;
  text-indent: -999px; overflow: hidden;
}

.selected-man {
  .pointer.question-step-man,
  .dynamic.man { display: block !important; }
}
.selected-woman {
  .pointer.question-step-woman,
  .dynamic.woman { display: block !important; }
}

.question-step-control {
  float: left;

  .step {
    position: absolute;
    top: 50%; left: 50%;
    margin-top: 120px;
    margin-left: -269px;
    z-index: 2;

    .label {
      color: #000;
      font-size: 1em;
      // font-family: Arial;
      position: absolute;
      top: 100%; left: 0;
      padding-top: 5px;
    }

    .step-bar {
      position: relative;
      height: 12px; width: 114px; overflow: hidden;
    }

    .question-step { position: absolute; top: 0; left: 0; }

    .pointer {
      position: absolute;
      bottom: 0; z-index: 1;
      margin-bottom: -2px;

      @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));

      .question-step-woman {
        margin-bottom: -4px;
      }

      &.question-step-man, 
      &.question-step-woman {
        display: none;
      }
    }

    &.question-01 {
      .pointer { left: 3px; }
      .step-bar .question-step { top: -2px; }
    }

    &.question-02 {
      .pointer { left: 20px; }
      .step-bar .question-step { top: -14px; }
    }

    &.question-03 {
      .pointer { left: 37px; }
      .step-bar .question-step { top: -26px; }
    }

    &.question-04 {
      .pointer { left: 54px; }
      .step-bar .question-step { top: -38px; }
    }

    &.question-05 {
      .pointer { left: 71px; }
      .step-bar .question-step { top: -50px; }
    }

    &.question-06 {
      .pointer { left: 88px; }
      .step-bar .question-step { top: -62px; }
    }
  }

  .button {
    position: absolute;
    z-index: 2;
    top: 50%; margin-top: -12px;
    text-indent: -9999px;
    overflow: hidden;

    &.disable { opacity: 0; }
    &.button-next { right: 20px; display: none; }
    &.button-prev { left: 20px; }
  }
}

// question global 
.question-box {
  width: 100%; height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0; left: 0;
  display: none;

  .abs-elem {
    position: absolute;
    top: 50%; left: 50%;
    margin: 0; padding: 0;
  }

  .question-subject {
    text-indent: -9999px;
    overflow: hidden;

    @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
  }
}

.answer-data {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: 1;

  // @include transition(all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275));

  display: none;

  &.active { display: block; }
}

.answer-list {
  position: absolute;
  top: 52%; left: 50%;
  z-index: 2;

  list-style: none;
  margin: 0; padding: 0;

  .answer-choice {
    input { opacity: 0; }

    .choice {
      text-align: center;
      line-height: 42px;

      z-index: 2;

      &:after {
        content: "";
        position: absolute;
        top: 50%; left: 50%;
        margin-top: -28px;
        margin-left: -28px;
        width: 45px; height: 45px;

        border: 5px solid #000;
        border-radius: 50%;

        z-index: 1;

        @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
        @include scale(0);
        opacity: 0;
      }

      &.active:after { @include scale(1); opacity: 1; }

      &.answer-01:after { border-color: #6aecff; }
      &.answer-02:after { border-color: #8f9de0; }
      &.answer-03:after { border-color: #c976d2; }
      &.answer-04:after { border-color: #e4740c; }
      &.answer-05:after { border-color: #dbad3c; }
    }
  }

  li { 
    position: absolute;

    &.answer-shadow { margin-top: 120px; margin-left: -34px; }  
    &.choice-01 { margin-top: 96px; margin-left: -26px; }
    &.choice-02 { margin-top: 93px; margin-left: 38px; }
    &.choice-03 { margin-top: 88px; margin-left: 98px; }
    &.choice-04 { margin-top: 66px; margin-left: 153px; }
    &.choice-05 { margin-top: 23px; margin-left: 194px; }

    .choice { 
      // @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
      
      // &.active { @include scale(1.2) } 
    }
  }
}

.waiting {

  .waiting-capet,
  .waiting-man,
  .waiting-women {
    position: absolute;
    top: 50%; left: 50%;
  }

  .waiting-man,
  .waiting-women { display: none; }

  .waiting-capet {
    margin-top: 75px;
    margin-left: -115px;
  }

  .waiting-man,
  .waiting-women {
    margin-top: -100px;
    margin-left: -25px;
  }
}
.selected-man .waiting-man { display: block; }
.selected-woman .waiting-women { display: block; }

.question-box {
  .bubble { 
    z-index: 4; 
    
    table { position: absolute; top: 20px; left: 25px; width: 175px; height: 40px; }
    td { 
      text-align: center; vertical-align: middle; padding: 0 15px;
      font-family: 'DB Helvethaica X Med', Arial;
      font-size: 1.2em;
      line-height: 0.8em;

      &:before,
      &:after { content: ""; background-image: url('../images/sprite/answer.png'); background-repeat: no-repeat; position: absolute; top: 0; }

      &:before {
        background-position: -471px -159px;
        width: 15px;
        height: 14px;
        left: 0;
      }

      &:after {
        background-position: -433px -178px;
        width: 15px;
        height: 14px;
        right: 0;
      }
    }
  }

  .question-content {
    width: 100%; height: 100%;
    position: relative;
  }

  .dynamic { display: none; z-index: 1; }

  &.active { display: block; }

  &.question-01 {
    .question-subject { margin-top: -145px; margin-left: -92px; }
    .question-bg { margin-top: -67px; margin-left: -232px; }

    .answer-man { margin-top: -105px; margin-left: -132px; }
    .answer-man.man-active { opacity: 0; }
    .answer-woman { margin-top: -98px; margin-left: 8px; }
    .answer-woman.woman-active { opacity: 0; }


    .answer {
      overflow: visible;
      z-index: 2;

      input { opacity: 0; }
    }

    .question-01-form {
      margin-top: -111px; margin-left: 120px; width: 85px;

      strong, span { 
        font-size: 1.1em;
        font-family: 'DB Helvethaica X Med', Arial;
      }

      strong { display: block; margin-bottom: 3px; white-space: nowrap; }

      .label { font-size: 1 em; }

      .separate { height: 1px; width: 100%; border-bottom: dashed 1px #767676; margin: 9px 0 6px; }
      
      .check-box {
        position: relative;
        padding-left: 20px;
        display: inline-block;
        box-sizing: border-box;
        width: 36px;

        .check {
          position: absolute;
          left: 0; top: 0;

          input, .check-active {
            opacity: 0;
          }

          .check-active { top: 0; left: 0; }
      
          &.active .check-active { opacity: 1; }
        }
      }
    }

    .sprite-answer.child { display: none; opacity: 0; }

    .selected {
      position: absolute;
      opacity: 0;
      z-index: 1;
      margin-top: 108px;
      display: none;

      // @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));


      &.child { 
        display: block; opacity: 1; 
        
        &.man { margin-top: 31px; margin-left: -130px; }
        &.woman { margin-top: 31px; margin-left: -15px; }
      }
  
      &.man,
      &.woman { display: block; }
      &.man { margin-left: -118px; }
      &.woman { margin-left: 6px; }
    }
  }

  &.question-02 {
    .question-subject { margin-top: -142px; margin-left: -118px; }

    .answer-01 {
      .bubble { margin-top: -19px; margin-left: -22px; }
      .question-02-answer-01-bg { margin-top: -61px; margin-left: -152px; }
      .question-02-answer-01-man { margin-top: -88px; margin-left: -82px; z-index: 1 }
      .question-02-answer-01-woman { margin-top: -88px; margin-left: -82px; z-index: 1 }
    }

    .answer-02 {
      .bubble { margin-top: -104px; margin-left: -5px; }
      .question-02-answer-02-bg { margin-top: -66px; margin-left: -232px; }
      .question-02-answer-02-man { margin-top: -61px; margin-left: -122px; z-index: 1 }
      .question-02-answer-02-woman { margin-top: -61px; margin-left: -122px; z-index: 1 }
    }

    .answer-03 {
      .bubble { margin-top: -103px; margin-left: 37px; }
      .question-02-answer-03-bg01 { margin-top: -76px; margin-left: -74px; z-index: 2; }
      .question-02-answer-03-bg02 { margin-top: -63px; margin-left: -132px; }
      .question-02-answer-03-man { margin-top: -70px; margin-left: -15px; z-index: 1 }
      .question-02-answer-03-woman { margin-top: -62px; margin-left: -12px; z-index: 1 }
    }

    .answer-04 {
      .bubble { margin-top: -107px; margin-left: -52px; }
      .question-02-answer-03-bg { margin-top: -67px; margin-left: -165px; }
      .question-02-answer-04-bg-man { margin-top: -7px; margin-left: -70px; z-index: 2; }
      .question-02-answer-04-bg-woman { margin-top: -7px; margin-left: -70px; z-index: 2; }
      .question-02-answer-04-man { margin-top: -47px; margin-left: 62px; z-index: 1 }
      .question-02-answer-04-woman { margin-top: -35px; margin-left: 62px; z-index: 1 }
    }

    .answer-05 {
      .bubble { margin-top: -100px; margin-left: -175px; }
      .question-02-answer-05-bg-man { margin-top: -67px; margin-left: -191px; }
      .question-02-answer-05-bg-woman { margin-top: -67px; margin-left: -191px; }
    }
  }

  &.question-03 {
    .question-subject { margin-top: -142px; margin-left: -118px; }

    .answer-01 {
      .bubble { margin-top: -99px; margin-left: -5px; }
      .question-03-answer-01-bg { margin-top: -18px; margin-left: -234px; }
      .question-03-answer-01-man { margin-top: -84px; margin-left: -81px; z-index: 1 }
      .question-03-answer-01-woman { margin-top: -84px; margin-left: -94px; z-index: 1 }
    }

    .answer-02 {
      .bubble { margin-top: -110px; margin-left: -22px; }
      .question-03-answer-02-bg01 { margin-top: -38px; margin-left: -122px; z-index: 2; }
      .question-03-answer-02-bg02 { margin-top: -92px; margin-left: -166px; }
      .question-03-answer-02-man { margin-top: -47px; margin-left: -64px; z-index: 1 }
      .question-03-answer-02-woman { margin-top: -47px; margin-left: -64px; z-index: 1 }
    }

    .answer-03 {
      .bubble { margin-top: -108px; margin-left: 35px; }
      .question-03-answer-03-bg { margin-top: -100px; margin-left: -223px; }
      .question-03-answer-03-man { margin-top: -69px; margin-left: -153px; z-index: 1 }
      .question-03-answer-03-woman { margin-top: -69px; margin-left: -153px; z-index: 1 }
    }

    .answer-04 {
      .bubble { margin-top: -95px; margin-left: -227px; }
      .question-03-answer-04-bg { margin-top: -101px; margin-left: -37px; }
      .question-03-answer-04-man { margin-top: -100px; margin-left: -111px; z-index: 1 }
      .question-03-answer-04-woman { margin-top: -100px; margin-left: -181px; z-index: 1 }
    }

    .answer-05 {
      .bubble { margin-top: 44px; margin-left: -223px; }
      .question-03-answer-05-bg { margin-top: -80px; margin-left: -140px; }
    }
  }

  &.question-04 {
    .question-subject { margin-top: -144px; margin-left: -164px; }

    .answer-01 {
      .bubble { margin-top: -100px; margin-left: 10px; }
      .question-04-answer-01-man { margin-top: -92px; margin-left: -95px; z-index: 1 }
      .question-04-answer-01-woman { margin-top: -92px; margin-left: -95px; z-index: 1 }
    }

    .answer-02 {
      .bubble { margin-top: -108px; margin-left: -31px; }
      .question-04-answer-02-bg { margin-top: -57px; margin-left: -195px; }
      .question-04-answer-02-man { margin-top: -44px; margin-left: 26px; z-index: 1 }
      .question-04-answer-02-woman { margin-top: -4px; margin-left: 16px; z-index: 1 }
    }

    .answer-03 {
      .bubble { margin-top: 16px; margin-left: -43px; }
      .question-04-answer-03-bg { margin-top: -110px; margin-left: -150px; }
      .question-04-answer-03-man { margin-top: -59px; margin-left: -70px; z-index: 1 }
      .question-04-answer-03-woman { margin-top: -112px; margin-left: -127px; z-index: 1 }
    }

    .answer-04 {
      .bubble { margin-top: -90px; margin-left: 4px; }
      .question-04-answer-04-bg { margin-top: -4px; margin-left: -182px; }
      .question-04-answer-04-man { margin-top: -64px; margin-left: -81px; z-index: 1 }
      .question-04-answer-04-woman { margin-top: -64px; margin-left: -121px; z-index: 1 }
    }

    .answer-05 {
      .bubble { margin-top: -100px; margin-left: 78px; }
      .question-04-answer-05 { margin-top: -54px; margin-left: -178px; }
    }
  }

  &.question-05 {
    .question-subject { margin-top: -149px; margin-left: -205px; }

    .answer-01 {
      .bubble { margin-top: -91px; margin-left: 48px; }
      .question-05-answer-01-bg { margin-top: -61px; margin-left: -204px; }
      .question-05-answer-01-man { margin-top: -57px; margin-left: -119px; z-index: 1 }
      .question-05-answer-01-woman { margin-top: -47px; margin-left: -119px; z-index: 1 }
    }

    .answer-02 {
      .bubble { margin-top: -96px; margin-left: 39px; }
      .question-05-answer-02-bg { margin-top: -22px; margin-left: -212px; }
      .question-05-answer-02-man { margin-top: -81px; margin-left: -45px; z-index: 1 }
      .question-05-answer-02-woman { margin-top: -81px; margin-left: -45px; z-index: 1 }
    }

    .answer-03 {
      .bubble { margin-top: -108px; margin-left: -4px; }
      .question-05-answer-03-bg { margin-top: -62px; margin-left: -175px; }
      .question-05-answer-03-man { margin-top: -81px; margin-left: -56px; z-index: 1 }
      .question-05-answer-03-woman { margin-top: -101px; margin-left: -96px; z-index: 1 }
    }

    .answer-04 {
      .bubble { margin-top: -110px; margin-left: -75px; }
      .question-05-answer-04-bg { margin-top: -77px; margin-left: -170px; }
    }

    .answer-05 {
      .bubble { margin-top: -100px; margin-left: 65px; } 
      .question-05-answer-05-bg { margin-top: -104px; margin-left: -206px; }
    }
  }

  &.question-06 {
    .question-subject { margin-top: -140px; margin-left: -151px; }

    .answer-01 {
      .bubble { margin-top: 33px; margin-left: -242px; }
      .question-06-answer-01-bg { margin-top: -75px; margin-left: 1px; }
      .question-06-answer-01-man { margin-top: -76px; margin-left: -121px; z-index: 1 }
      .question-06-answer-01-woman { margin-top: -76px; margin-left: -121px; z-index: 1 }
    }

    .answer-02 {
      .bubble { margin-top: -94px; margin-left: 22px; }
      .question-06-answer-02-bg { margin-top: -82px; margin-left: -216px; }
    }

    .answer-03 {
      .bubble { margin-top: -82px; margin-left: -232px; }
      .question-06-answer-03-bg { margin-top: -77px; margin-left: -137px; }
      .question-06-answer-03-man { margin-top: -54px; margin-left: -90px; z-index: 1; }
      .question-06-answer-03-woman { margin-top: -54px; margin-left: -90px; z-index: 1; }
    }

    .answer-04 {
      .bubble { margin-top: -96px; margin-left: 40px; }
      .question-06-answer-04-bg { margin-top: -72px; margin-left: -220px; }
      .question-06-answer-04-man { margin-top: -59px; margin-left: -89px; z-index: 1; }
    }

    .answer-05 {
      .bubble { margin-top: -100px; margin-left: 80px; }
      .question-06-answer-05-bg { margin-top: -77px; margin-left: -186px; }
      .question-06-answer-05-man { margin-top: -53px; margin-left: -66px; z-index: 1; }
    }
  }

}